.container{
    display: grid;
    height:500px ;
    width:1000px ;
    border: blue ;
    background-color: rgb(0, 213, 255);
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    /* grid-template-areas: "header header header header" "main main . sidebar" "footer footer footer"; */
    row-gap: 10px;
    row-gap:10px ;
    /* justify-items: center;
    align-items: center; */
    /* place-items: center; */
    justify-content: end;
    align-content: space-evenly;
    place-items: center;
}
.item{
    height: 100px;
    width: 100px;
    background-color: brown;
    text-align: center;
    align-content: center;
    color: white;

}  
/* .item1{
    grid-area: header;
}
.item2{
  grid-area:main;
}
.item3{
    grid-area:sidebar ;
}
.item4{
    grid-area:footer ;
} */