@media(min-width:1200px){
   p{font-size:25px;
background-color: blue;} 
}
.box{
    width: 100%;
    height: 100px;
    background-color: green;
}
@media(max-width:768px){
    .box{
        background-color: red;
    }
}
li{
    list-style: none;
    text-decoration: none;
    
}
nav ul{
    display: flex;
    flex-direction:column ;
    justify-content: space-around;
}
/* @media(min-width: 768px){
    div{
        align-content: center;
        justify-content: center;
    }
    nav ul{
        display: flex;
        justify-content: flex-start;
        background-color:brown;
        color: white;
        
        width: 200px;
        height: 100px;
        gap: 10px;
        text-align: center;
        align-content: center;


    }
    a{
        width: 10px;
        height: 20px;
    } */